* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 2fr;
}
/*grid-template-rows: minmax(0, 1fr) 80%;*/

.sidebar {
    display:grid;
    align-items: center;
    justify-content: center;
    gap: 15px;
    grid-template-rows: 1fr 3fr 8fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0ea5e9;
}


.sidebar-img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 8px;
    fill: aliceblue;
}

ul {
    list-style: none;
}

.dashboard-heading {
    font-size: 30px;
    font-weight: bolder;
    color: aliceblue;
}

.top-links {
    align-self: self;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.bottom-links {
    align-self:self-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 1fr 2fr;
}


input {
    height: 30px;
    margin-top: 10px;
    min-width: 50%;
    background-color: lightgray;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}

.search {
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
}
.search-bar {
    grid-row: 1 / 2;
    display: flex;
    margin-left: 13px;
}

.greeting {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 10px

}

.greeting-img {
    height: 50px;
    width: 50px;
}

.greeting-text {
    font-size: 16px;
    font-weight: bold;
}

.greeting-text:first-line {
    font-size: 16px;
    font-weight: normal;
}

.account {
    grid-row: 1 / 2;
    justify-self: self-end;
    align-self: center;
    margin-right: 30px;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.account-img {
    height: 30px;
    width: 30px;
    position: relative;
    top: -5px;
}

.btn-container {
    grid-row: 2 / 3;
    justify-self: self-end;
    align-self: center;
    margin-right: 30px;
}


.btn {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover,
.btn-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.main-content {
    display: grid;
    grid-template: repeat(4, auto) / 3fr minmax(280px, 1fr);
    padding: 20px 20px 0 20px;
    gap: 25px;
    background-color: gray;
}
.projects {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(150px, 2fr));
    margin-bottom: 20px;
}

.card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    height: 20vh;
    padding-left: 10px;
}

.card-text {
    grid-row: 1 / 2;
}

.your-projects {
    font-size: 26px;
    justify-self: self-start;
    margin-bottom: 20px;
    
}

.card-text:first-line {
    font-weight: bold;
    font-size: 18px;
  }

.announcements-container {
    display: grid;
    grid-auto-rows: auto;
    grid-area: 2 / 2 / 4 / 3;
    background-color: aliceblue;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    padding-left: 10px;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.announcement:first-line {
    font-weight: bold;
    font-size: 18px;
}


hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: rgb(196, 196, 196);
    height: 1px;
  }

.announcements-container:first-line {
    font-weight: bold;
    font-size: 18px;
}

.announcements-heading {
    font-size: 26px;
}

.trending-heading {
    font-size: 26px;
    margin-top: 10px;
    align-self: self-end;
}

.trending-container {
    background-color: aliceblue;
    border-radius: 10px;
    grid-area: 5 / 2 / 5 / 3;
    /*display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;*/
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    align-self: self-start;
}

.trending-img {
    height: 30px;
    width: 30px;
}

