* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 2fr;
}
/*grid-template-rows: minmax(0, 1fr) 80%;*/

.sidebar {
    display:grid;
    align-items: center;
    justify-content: center;
    gap: 15px;
    grid-template-rows: 1fr 3fr 8fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: blue;
}

ul > li {
    list-style: none;
    font-size: 24px;
}

/*.dashboard-heading,
.bottom-links,
.top-links {
    margin-left: 20px;
}*/

.dashboard-heading {
    font-size: 30px;
    font-weight: bolder;
    color: aliceblue;
}

.top-links {
    align-self: self;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.bottom-links {
    align-self:self-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: blueviolet;
}

.main-content {
    display: grid;
    grid-template: repeat(4, auto) / 3fr minmax(280px, 1fr);
    padding: 20px 20px 0 20px;
    column-gap: 25px;
    background-color: gray;
}
.projects {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(150px, 2fr));

}

.card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    height: 20vh;
}

.your-projects {
    font-size: 26px;
    justify-self: self-start;
    margin-bottom: 20px;
    
}

.card-text:first-line {
    font-weight: bold;
    font-size: 18px;
  }